{% extends 'product/base.html' %}
{% load static %}

{% block header %}
<title>Регистрация</title>
{% endblock header %}


{% block content %}


<h2 align='center'>Регистрация в личный кабинет.</h2>

<div align="center" style="padding-top: 50px;">
    <form method="post"  action="">
        {% csrf_token %}
        <table style="width:100%;">
            {% for f in form %}
            <tr>
                <td style="width:38%;"></td>
                <td style="width:10%;text-align: center">
                    <label for ="{{ f.id_for_label }}">{{ f.label }}</label>
                </td>
                <td style="width:10%;" id="{{ f.id_for_label }}" ><p>{{ f }}</p></td>  <!--ввод значения в поле-->
                <td style="width:38%;"></td>
            </tr>
            <div>{{ f.errors }}</div>

            {% endfor %}

        </table>
        <button class="button_forms" style="margin-top: 1%;" type="submit">зарегистрироваться</button>
    </form>

</div>
{% endblock content %}